body{
    background: linear-gradient(265deg,#976700d6 50%,#eec54a81 100%,#d2bc12 0%);
    color: black;
}
.img1{
    width: 80vw;
    height: 60vh;
    background-image: url(/images/Screenshot_20221210_144139.png);
    background-repeat: no-repeat;
    background-size: cover;
    /* background-position: center; */
    margin-left: 100px;
    border-radius: 25px;
}
#b1{
    margin-top: 3vh;
    background-color: bisque;
    color: brown;
    border: 5px solid black;

}
#linking{
    font-size: xx-large;
    font-weight: bolder;
    color: brown;
}
.div1{
    display: flex;
}
.left{
    background-color: antiquewhite;
    height: 80vh;
    width: 70vw;
    font-size: xx-large;
    font-weight: bolder;
}
.right{
    margin-left: 72vw;
    font-size: large;
    font-weight: bolder;
    margin-bottom: 1vh;
    height: 20vh;
    width: 20vw;
    background-color: aliceblue;
}
#searching{
    margin-left: 2vw;
    font-size: xx-large;
    font-weight: bolder;
    margin-bottom: 1vh;
    width: 20vw;
    background-color: aliceblue;    
}
#sbox{
    margin-left: 0.6vw;

}
#b2{
    text-decoration: none;

}